.p-password {
  width: 100%;

  > .p-icon-field {
    width: 100%;

    &:focus-visible {
      outline: 0;
      box-shadow: none;
    }

    > .p-password-input {
      width: 100%;

      &:focus-visible {
        outline: 0;
        box-shadow: none;
      }

      &:focus-within {
        box-shadow: none;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-background-clip: text;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }

    > .p-input-icon {
      background: var(--white-color);
      padding: var(--padding-rg) 0px var(--padding-rg) var(--padding-xs);
      right: 12px;
      top: unset;
      margin-top: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:focus-visible {
        outline: 0;
        box-shadow: none;
      }

      > .p-icon {
        &:focus {
          outline: 0;
          box-shadow: none;
        }

        &:focus-visible {
          outline: 0;
          box-shadow: none;
        }
      }
    }
  }
}
