.p-input-radio-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-200);
  border-radius: var(--radius-md);
  padding: var(--padding-rg) var(--padding-md);
  cursor: pointer;
  user-select: none;

  &:has(.p-radiobutton[data-p-checked='true']) {
    border-color: var(--primary-600);
  }

  > .p-radiobutton {
    width: 16px;
    height: 16px;

    > .p-radiobutton-box {
      width: 16px;
      height: 16px;

      > .p-radiobutton-icon {
        width: 8px;
        height: 8px;
      }
    }
  }

  > label {
    cursor: pointer;
    margin-left: var(--margin-sm);
  }
}
