.p-inputtext {
  padding: var(--padding-rg) var(--padding-md);
  border-radius: var(--radius-md);
  border: 1px solid var(--gray-200);
  font-size: var(--fs-xs);

  &::placeholder {
    color: var(--gray-400);
    user-select: none;
  }

  &:hover {
    border: 1px solid var(--primary-600);
  }

  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: 0;
    border: 1px solid var(--primary-600);
    box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--primary-600) 25%, transparent);
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-background-clip: text;
  }

  &.p-disabled {
    background-color: var(--gray-100);
    position: relative;

    &::placeholder {
      user-select: none;
    }
  }
}
