.p-editor {
  border: 1px solid var(--gray-200);
  border-radius: var(--radius-md);
  overflow: hidden;

  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: 0;
    border: 1px solid var(--primary-600);
    box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--primary-600) 25%, transparent);
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

    > .ql-toolbar {
      border-bottom: 1px solid var(--primary-600) !important;
    }
  }

  > .ql-toolbar {
    border: none !important;
    border-bottom: 1px solid var(--gray-200) !important;
  }

  > .ql-container {
    border: none !important;
  }
}
