.p-checkbox {
  cursor: pointer;

  &:hover &-box {
    border-color: var(--primary-600);
  }

  &-input {
    accent-color: var(--primary-600);

    &:hover {
      border-color: var(--primary-600);
      accent-color: var(--primary-600);
    }
  }

  &-box {
    &[data-p-highlight='true'] {
      border-color: var(--primary-600);
      background-color: var(--primary-600);
    }
  }

  &:focus-visible {
    outline: none;
  }
}

input[type='checkbox'] {
  cursor: pointer;
  accent-color: var(--primary-600);

  &:checked {
    background-color: var(--primary-600);
    border-color: var(--primary-600);
  }

  &:focus-visible {
    outline: none;
  }
}

.p-checkbox:not(.p-disabled):has(.p-checkbox-input:focus-visible) .p-checkbox-box {
  border-color: var(--primary-600);
  box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--primary-600) 25%, transparent);
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box {
  border-color: var(--primary-600);
}
