.p-multiselect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--radius-md);
  position: unset;

  &:hover {
    border-color: var(--primary-600);
  }

  &-label {
    padding: var(--padding-rg) var(--padding-md);
  }

  &-clear-icon {
    width: 12px;
    height: 12px;
    color: var(--gray-500);
    background-color: var(--white-color);
    font-size: var(--fs-xs);
    margin-right: var(--margin-xxs);
    position: unset;
    top: unset;
    margin-top: unset;
    right: unset;

    &:focus {
      outline: 0;
    }
  }

  &-trigger {
    width: unset;
    padding: var(--padding-rg);
    padding-right: var(--padding-md);
  }

  &-panel {
    border-radius: var(--radius-md);
    overflow: hidden;
    box-shadow: var(--shadow-md);
    border: 1px solid var(--gray-200);
  }

  &-header {
    background-color: var(--primary-50);
    padding: var(--padding-xxs) var(--padding-rg);
  }

  &-close {
    border-radius: var(--radius-md);
  }

  &-select-all {
    .p-checkbox {
      width: 18px;
      height: 18px;

      &-box {
        width: 18px;
        height: 18px;
        border: 1px solid var(--gray-200);
        border-radius: var(--radius-rg);
      }
    }
  }

  &-items {
    padding: var(--padding-xs);
    margin-bottom: 0px;
  }

  &-item {
    font-size: var(--fs-xs);
    border-radius: var(--radius-rg);
    padding: var(--padding-sm) var(--padding-xs);
    margin: 1px 0px;

    &:focus-visible,
    &-label:focus-visible {
      outline: 0;
    }

    &:hover {
      background-color: var(--primary-100);
    }

    &[aria-selected='true'] {
      color: var(--black-color);
    }

    &.p-focus {
      box-shadow: none;
    }

    &.p-highlight {
      background-color: var(--primary-50);
    }
  }

  &-checkbox {
    .p-checkbox {
      width: 18px;
      height: 18px;

      &-box {
        width: 18px;
        height: 18px;
        border: 1px solid var(--gray-200);
        border-radius: var(--radius-rg);

        &:focus-visible {
          outline: 0;
          box-shadow: none;
        }
      }
    }
  }
}
