.p-listbox {
  padding: 0px;
  overflow: hidden;
  border: 1px solid var(--gray-200);

  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: 0;
  }

  &-list {
    padding: 0px;
    margin: var(--margin-xxs);
    overflow: hidden;

    &:focus,
    &:focus-within,
    &:focus-visible {
      outline: 0;
    }
  }

  &-item {
    &:not(:first-child, :last-child) {
      margin: 1px 0px;
    }

    user-select: none;
    border-radius: var(--radius-rg);
    overflow: hidden;
    padding: var(--padding-rg) var(--padding-md);

    &.p-focus {
      box-shadow: none;
      border-radius: var(--radius-rg);
    }
  }
}
