.p-listbox {
  padding: 0px;
  overflow: hidden;
  border: 1px solid var(--gray-200);

  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: 0;
  }

  &-list {
    padding: var(--padding-xxs);
    margin: var(--margin-xxs);
    overflow: hidden;

    &:focus,
    &:focus-within,
    &:focus-visible {
      outline: 0;
    }
  }

  &-item {
    &:not(:first-child, :last-child) {
      margin: var(--margin-xxs) 0px;
    }

    font-size: var(--fs-xs);
    font-weight: var(--fw-semibold);
    user-select: none;
    border-radius: var(--radius-rg);
    overflow: hidden;
    padding: var(--padding-sm) var(--padding-md);

    &.p-focus {
      box-shadow: none;
      border-radius: var(--radius-rg);
    }

    &.p-highlight {
      box-shadow: none;
      border-radius: var(--radius-rg);
      color: var(--white-color);
      background-color: var(--primary-500);
    }
  }
}
