[ec-app-theme='light'] {
  --color: #202020;
  --foreground: #ffffff;
  --background: #f9f9ff;
}

[ec-app-theme='dark'] {
  --color: #f4f4f4;
  --foreground: #151515;
  --background: #0d0d0d;
}

[ec-app-color='neutral'] {
  --primary-50: var(--neutral-50);
  --primary-100: var(--neutral-100);
  --primary-200: var(--neutral-200);
  --primary-300: var(--neutral-300);
  --primary-400: var(--neutral-400);
  --primary-500: var(--neutral-500);
  --primary-600: var(--neutral-600);
  --primary-700: var(--neutral-700);
  --primary-800: var(--neutral-800);
  --primary-900: var(--neutral-900);
  --primary-950: var(--neutral-950);
}

[ec-app-color='blue'] {
  --primary-50: var(--blue-50);
  --primary-100: var(--blue-100);
  --primary-200: var(--blue-200);
  --primary-300: var(--blue-300);
  --primary-400: var(--blue-400);
  --primary-500: var(--blue-500);
  --primary-600: var(--blue-600);
  --primary-700: var(--blue-700);
  --primary-800: var(--blue-800);
  --primary-900: var(--blue-900);
  --primary-950: var(--blue-950);
}

[ec-app-color='orange'] {
  --primary-50: var(--orange-50);
  --primary-100: var(--orange-100);
  --primary-200: var(--orange-200);
  --primary-300: var(--orange-300);
  --primary-400: var(--orange-400);
  --primary-500: var(--orange-500);
  --primary-600: var(--orange-600);
  --primary-700: var(--orange-700);
  --primary-800: var(--orange-800);
  --primary-900: var(--orange-900);
  --primary-950: var(--orange-950);
}

[ec-app-color='rose'] {
  --primary-50: var(--rose-50);
  --primary-100: var(--rose-100);
  --primary-200: var(--rose-200);
  --primary-300: var(--rose-300);
  --primary-400: var(--rose-400);
  --primary-500: var(--rose-500);
  --primary-600: var(--rose-600);
  --primary-700: var(--rose-700);
  --primary-800: var(--rose-800);
  --primary-900: var(--rose-900);
  --primary-950: var(--rose-950);
}

[ec-app-color='red'] {
  --primary-50: var(--red-50);
  --primary-100: var(--red-100);
  --primary-200: var(--red-200);
  --primary-300: var(--red-300);
  --primary-400: var(--red-400);
  --primary-500: var(--red-500);
  --primary-600: var(--red-600);
  --primary-700: var(--red-700);
  --primary-800: var(--red-800);
  --primary-900: var(--red-900);
  --primary-950: var(--red-950);
}
