.auth {
  width: 100%;
  height: 100%;

  &-body {
    padding: var(--padding-md) 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 360px;

    &-container {
      flex: 1;
      padding: var(--padding-xl);
      overflow: hidden;
      max-width: 360px;
    }

    &-info {
      margin-bottom: var(--margin-xl);

      &-title {
        font-size: var(--fs-lg);
        font-weight: var(--fw-semibold);
        letter-spacing: -1px;
        user-select: none;
        color: var(--black-color);
        text-transform: uppercase;
      }

      &-description {
        font-size: var(--fs-sm);
        color: var(--gray-500);
        user-select: none;
        line-height: 14px;
      }
    }
  }

  &-background {
    padding: var(--padding-md);
    height: 100%;

    &-content {
      border-radius: var(--radius-xl);
      overflow: hidden;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media (max-width: 768px) {
    &-background {
      display: none;
    }
  }
}
