.app-btn {
  border-radius: var(--radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-md);
  font-weight: var(--fw-regular);
  line-height: var(--line-height);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: var(--padding-rg) var(--padding-md);
  background-color: transparent;

  &:focus-visible {
    outline: 0;
  }

  &:disabled,
  &.disabled,
  fieldset:disabled & {
    cursor: no-drop;
    pointer-events: none;
    opacity: 0.65;
    box-shadow: none;
  }

  &-icon {
    width: 16px;
    height: 16px;
    color: var(--white-color);
    margin-right: var(--margin-xs);
  }

  &-sm {
    padding: 6px var(--padding-rg);
    font-size: 0.8rem;
  }
}

.app-btn-spinner {
  @extend .app-btn;
  display: flex;
  align-items: center;
  justify-content: center;

  > .spinner-border {
    border-style: dotted;
    border-width: 3px;
    width: 24px;
    height: 24px;
  }

  span {
    margin-left: var(--margin-sm);
  }
}

.app-btn-primary {
  @extend .app-btn;
  color: var(--white-color);
  background-color: var(--primary-800);

  &:hover {
    color: var(--white-color);
    background-color: var(--primary-950);
    border-color: var(--primary-950);
  }

  .btn-check:checked + &,
  :not(.btn-check) + &:active,
  &:first-child:active,
  &.active,
  &.show {
    color: var(--white-color);
    background-color: var(--primary-900);
  }

  &-outline {
    color: var(--primary-900);
    background-color: transparent;
    border: 1px solid var(--primary-900);

    &:hover {
      color: var(--white-color);
      background-color: var(--primary-950);
      border-color: var(--primary-950);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      color: var(--white-color);
      background-color: var(--primary-900);
    }
  }

  &-light {
    color: var(--primary-950);
    background-color: var(--primary-200);

    &:hover {
      background-color: var(--primary-300);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      background-color: var(--primary-200);
    }
  }

  &-link {
    color: var(--primary-950);

    &:hover {
      background-color: var(--primary-300);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      background-color: var(--primary-200);
    }
  }
}

.app-btn-secondary {
  @extend .app-btn;
  color: var(--white-color);
  background-color: var(--secondary-900);

  &:hover {
    color: var(--white-color);
    background-color: var(--secondary-950);
    border-color: var(--secondary-950);
  }

  .btn-check:checked + &,
  :not(.btn-check) + &:active,
  &:first-child:active,
  &.active,
  &.show {
    color: var(--white-color);
    background-color: var(--secondary-900);
  }

  &-outline {
    color: var(--secondary-900);
    background-color: transparent;
    border: 1px solid var(--secondary-900);

    &:hover {
      color: var(--white-color);
      background-color: var(--secondary-950);
      border-color: var(--secondary-950);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      color: var(--white-color);
      background-color: var(--secondary-900);
    }
  }

  &-light {
    color: var(--secondary-950);
    background-color: var(--secondary-200);

    &:hover {
      background-color: var(--secondary-300);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      background-color: var(--secondary-200);
    }
  }

  &-link {
    color: var(--secondary-950);

    &:hover {
      background-color: var(--secondary-300);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      background-color: var(--secondary-200);
    }
  }
}

.app-btn-success {
  @extend .app-btn;
  color: var(--white-color);
  background-color: var(--green-900);

  &:hover {
    color: var(--white-color);
    background-color: var(--green-950);
    border-color: var(--green-950);
  }

  .btn-check:checked + &,
  :not(.btn-check) + &:active,
  &:first-child:active,
  &.active,
  &.show {
    color: var(--white-color);
    background-color: var(--green-900);
  }

  &-outline {
    color: var(--green-900);
    background-color: transparent;
    border: 1px solid var(--green-900);

    &:hover {
      color: var(--white-color);
      background-color: var(--green-950);
      border-color: var(--green-950);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      color: var(--white-color);
      background-color: var(--green-900);
    }
  }

  &-light {
    color: var(--green-950);
    background-color: var(--green-200);

    &:hover {
      background-color: var(--green-300);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      background-color: var(--green-200);
    }
  }

  &-link {
    color: var(--green-950);

    &:hover {
      background-color: var(--green-300);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      background-color: var(--green-200);
    }
  }
}

.app-btn-danger {
  @extend .app-btn;
  color: var(--white-color);
  background-color: var(--red-900);

  &:hover {
    color: var(--white-color);
    background-color: var(--red-950);
    border-color: var(--red-950);
  }

  .btn-check:checked + &,
  :not(.btn-check) + &:active,
  &:first-child:active,
  &.active,
  &.show {
    color: var(--white-color);
    background-color: var(--red-900);
  }

  &-outline {
    color: var(--red-900);
    background-color: transparent;
    border: 1px solid var(--red-900);

    &:hover {
      color: var(--white-color);
      background-color: var(--red-950);
      border-color: var(--red-950);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      color: var(--white-color);
      background-color: var(--red-900);
    }
  }

  &-light {
    color: var(--red-950);
    background-color: var(--red-200);

    &:hover {
      background-color: var(--red-300);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      background-color: var(--red-200);
    }
  }

  &-link {
    color: var(--red-950);

    &:hover {
      background-color: var(--red-300);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      background-color: var(--red-200);
    }
  }
}

.app-btn-warning {
  @extend .app-btn;
  color: var(--white-color);
  background-color: var(--yellow-900);

  &:hover {
    color: var(--white-color);
    background-color: var(--yellow-950);
    border-color: var(--yellow-950);
  }

  .btn-check:checked + &,
  :not(.btn-check) + &:active,
  &:first-child:active,
  &.active,
  &.show {
    color: var(--white-color);
    background-color: var(--yellow-900);
  }

  &-outline {
    color: var(--yellow-900);
    background-color: transparent;
    border: 1px solid var(--yellow-900);

    &:hover {
      color: var(--white-color);
      background-color: var(--yellow-950);
      border-color: var(--yellow-950);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      color: var(--white-color);
      background-color: var(--yellow-900);
    }
  }

  &-light {
    color: var(--yellow-950);
    background-color: var(--yellow-200);

    &:hover {
      background-color: var(--yellow-300);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      background-color: var(--yellow-200);
    }
  }

  &-link {
    color: var(--yellow-950);

    &:hover {
      background-color: var(--yellow-300);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      background-color: var(--yellow-200);
    }
  }
}

.app-btn-info {
  @extend .app-btn;
  color: var(--white-color);
  background-color: var(--cyan-900);

  &:hover {
    color: var(--white-color);
    background-color: var(--cyan-950);
    border-color: var(--cyan-950);
  }

  .btn-check:checked + &,
  :not(.btn-check) + &:active,
  &:first-child:active,
  &.active,
  &.show {
    color: var(--white-color);
    background-color: var(--cyan-900);
  }

  &-outline {
    color: var(--cyan-900);
    background-color: transparent;
    border: 1px solid var(--cyan-900);

    &:hover {
      color: var(--white-color);
      background-color: var(--cyan-950);
      border-color: var(--cyan-950);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      color: var(--white-color);
      background-color: var(--cyan-900);
    }
  }

  &-light {
    color: var(--cyan-950);
    background-color: var(--cyan-200);

    &:hover {
      background-color: var(--cyan-300);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      background-color: var(--cyan-200);
    }
  }

  &-link {
    color: var(--cyan-950);

    &:hover {
      background-color: var(--cyan-300);
    }

    .btn-check:checked + &,
    :not(.btn-check) + &:active,
    &:first-child:active,
    &.active,
    &.show {
      background-color: var(--cyan-200);
    }
  }
}

.app-btn-light {
  @extend .app-btn;
  color: var(--black-color);
  background-color: var(--white-color);
}

.app-btn-dark {
  @extend .app-btn;
  color: var(--white-color);
  background-color: var(--black-color);
}
