[app-font='manrope'] {
  --font-family: 'Manrope', sans-serif;
}

[app-font='poppins'] {
  --font-family: 'Poppins', sans-serif;
}

[app-font='roboto'] {
  --font-family: 'Roboto', sans-serif;
}

[app-font='inter'] {
  --font-family: 'Inter', sans-serif;
}
