.app {
  &-label {
    color: var(--gray-500);
    font-size: var(--fs-sm);
    font-weight: var(--fw-normal);
    margin-bottom: 3px;
  }

  &-input {
    border-radius: var(--radius-md);
    padding: var(--padding-xs) var(--padding-sm);

    &:-webkit-autofill {
      background-color: transparent;
      -webkit-box-shadow: 0 0 0 50px var(--white-color) inset;
      transition: background-color 5000s ease-in-out 0s;
    }

    $primary-600: var(--primary-600);

    &:focus {
      outline: 0;
      border-color: var(--primary-600);
      box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--primary-600) 25%, transparent);
      transition:
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    }

    &::placeholder {
      color: var(--gray-400) !important;
      font-size: var(--fs-sm);
    }
  }
}

.field-required::after {
  content: '*';
  color: var(--red-500);
  margin-left: var(--margin-xs);
  font-weight: bold;
}
