@use 'prime/Button.scss';
@use 'prime/InputCheckbox.scss';
@use 'prime/InputDropdown.scss';
@use 'prime/InputEditor.scss';
@use 'prime/InputGroup.scss';
@use 'prime/InputMultiSelect.scss';
@use 'prime/InputNumber.scss';
@use 'prime/InputOTP.scss';
@use 'prime/InputPassword.scss';
@use 'prime/InputSwitch.scss';
@use 'prime/InputText.scss';
@use 'prime/InputTextArea.scss';
@use 'prime/ListBox.scss';

.p-focus {
    outline: none;
    outline-offset: 0;
    border-color: var(--primary-600);
    box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--primary-600) 25%, transparent);
    border-radius: var(--radius-md);
}

.p-disabled {
    user-select: none;
    cursor: not-allowed;
    color: var(--white-color);
    border-color: var(--gray-400);
}

.p-hidden-accessible {
    input {
        &:hover {
            border: none;
        }
    }
}

.p-inputwrapper-focus {
    @extend .p-focus;
}