.sidebar {
  height: 100%;
  width: var(--sidebar-expanded);
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  transition: all 0.5s linear;
  border-right: 1px solid var(--gray-200);

  &-header {
    display: flex;
    align-items: center;
    padding: var(--sidebar-header-padding);
    padding-bottom: 0px;

    &-container {
      flex: 1;
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: var(--radius-rg);
    }

    &-logo {
      background-color: var(--primary-800);
      width: var(--sidebar-header-logo);
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--radius-rg);
      flex-shrink: 0;
      cursor: pointer;
      user-select: none;

      &-text {
        color: var(--white-color);
        font-size: var(--fs-rg);
        font-weight: var(--fw-semibold);
      }
    }

    &-info {
      height: 100%;
      flex: 1;
      margin-left: var(--margin-sm);
      text-wrap: nowrap;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      user-select: none;

      transition:
        opacity 250ms ease-in-out,
        visibility 0.5s ease-in-out,
        margin-left 0.5s ease-in-out,
        width 0.5s ease-in-out,
        flex 0.5s ease-in-out;

      &-title {
        &-text {
          font-size: var(--fs-sm);
          font-weight: var(--fw-bold);
          line-height: 1;
        }

        &-version {
          font-size: 0.65rem;
          color: var(--primary-400);
          font-weight: var(--fw-medium);
          user-select: none;
          margin-left: var(--margin-xs);
          background-color: var(--primary-200);
          padding: var(--padding-xxs) var(--padding-xs);
          border-radius: var(--radius-rg);
          color: var(--black-color);
        }
      }

      &-edition {
        color: var(--gray-500);
        font-size: var(--fs-xs);
        font-weight: var(--fw-medium);
      }
    }
  }

  &-toggle {
    position: relative;
    display: flex;
    align-items: center;

    &-divider {
      height: 1px;
      width: 100%;
      background-color: var(--gray-200);
      margin: 10px var(--margin-sm);
    }

    &-container {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background-color: var(--white-color);
      border-radius: var(--radius-rg);
      border: 1px solid var(--gray-200);
      transform: translateX(16px);
    }

    &-icon {
      width: 12px;
      transition: rotate 0.5s ease-in-out;
    }
  }

  &-body {
    flex: 1;
    padding: 0px 10px;
    overflow-y: auto;
    overflow-x: hidden;

    .sidebar-menus {
      list-style: none;
      padding: unset;

      &-submenu {
        &.accordion-collapse {
          overflow: hidden;
          transition: height 0.3s linear;
          will-change: height;
        }

        .sidebar-menu {
          margin-left: var(--margin-rg);
          transition: margin-left 0.5s ease-in-out;

          &:hover {
            border-radius: var(--radius-rg);
            background-color: var(--primary-800);
            color: var(--white-color);
          }
        }
      }
    }

    .sidebar-menu {
      display: flex;
      align-items: center;
      cursor: pointer;
      margin: 1px 0px;
      height: var(--sidebar-menu-icon);

      &-logo {
        width: var(--sidebar-menu-icon);
        height: var(--sidebar-menu-icon);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--radius-rg);
        flex-shrink: 0;
        cursor: pointer;
        font-weight: 100;

        svg {
          width: 18px;
          height: 18px;
        }
      }

      &:hover {
        border-radius: var(--radius-rg);
        background-color: var(--primary-800);
        color: var(--white-color);

        .sidebar-menu-suffix-icon {
          color: var(--white-color);
        }
      }

      &-info {
        flex: 1;
        font-size: var(--fs-sm);
        font-weight: var(--fw-medium);
        margin-left: var(--margin-sm);
        text-wrap: nowrap;
        transition:
          opacity 0.5s linear,
          visibility 0.5s linear,
          margin-left 0.5s linear,
          width 0.5s linear;
      }

      &-suffix {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition:
          opacity 260ms ease-in-out 250ms,
          visibility 0.5s ease-in-out,
          margin-left ease-in-out,
          width ease-in-out;

        &-icon {
          width: 14px;
          height: 14px;
          color: var(--gray-500);
          transition: rotate 0.3s linear;
        }
      }

      &[aria-expanded='true'] {
        .sidebar-menu-suffix-icon {
          rotate: 90deg;
        }
      }
    }
  }

  &-divider {
    height: 1px;
    background-color: var(--gray-200);
    margin: var(--margin-sm);
    margin-bottom: 0px;
  }

  &-footer {
    height: var(--sidebar-minimized);
    display: flex;
    align-items: center;
    padding: var(--sidebar-header-padding);

    &-container {
      flex: 1;
      display: flex;
      align-items: center;
      width: 100%;
      border-radius: var(--radius-rg);
    }

    &-image {
      flex-shrink: 0;
      width: var(--sidebar-header-logo);
      aspect-ratio: 1/1;
      border-radius: var(--radius-rg);
      overflow: hidden;
      transition:
        opacity 250ms ease-in-out 250ms,
        visibility 0.5s ease-in-out,
        margin-left 0.5s ease-in-out,
        width 0.5s ease-in-out,
        flex 0.5s ease-in-out;
      cursor: pointer;
      border: 0.5px solid var(--gray-200);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-color: var(--blue-200);
      }
    }

    &-profile {
      flex: 1;
      height: var(--sidebar-header-logo);
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-wrap: nowrap;
      margin-left: var(--margin-xs);
      transition:
        opacity 0.15s ease-in-out 0.33s,
        visibility 0.5s ease-in-out,
        margin-left 0.5s ease-in-out,
        width 0.5s ease-in-out,
        flex 0.5s ease-in-out;

      &-name {
        font-size: var(--fs-xxs);
        font-weight: var(--fw-semibold);
      }

      &-email {
        font-size: 0.6rem;
        font-weight: var(--fw-normal);
      }
    }

    &-settings {
      background-color: var(--white-color);
      border-radius: var(--radius-md);
      border: 1px solid var(--gray-200);
      padding: var(--padding-xs);
      width: 120px;

      &-item {
        font-size: var(--fs-sm);
        font-weight: var(--fw-medium);
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 32px;
        border-radius: var(--radius-rg);

        &-icon {
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: var(--radius-rg);
          flex-shrink: 0;
          cursor: pointer;
          font-weight: 100;
        }

        &:hover {
          background-color: var(--primary-800);
          color: var(--white-color);

          .sidebar-footer-settings-item-icon {
            color: var(--white-color);
          }
        }

        &-title {
          margin-left: var(--margin-xs);
        }
      }

      &-toggle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: var(--radius-rg);
        cursor: pointer;
        transition:
          opacity 0.15s ease-in-out 0.45s,
          visibility 0.5s ease-in-out,
          margin-left 0.5s ease-in-out,
          width 0.5s ease-in-out,
          flex 0.5s ease-in-out;

        &-icon {
          width: 14px;
          height: 14px;
          color: var(--gray-500);
          transition: rotate 0.3s linear;
        }
      }
    }
  }

  &-sm {
    width: var(--sidebar-minimized);

    .sidebar {
      &-header {
        &-container {
          flex: none;
        }

        &-info {
          opacity: 0;
          visibility: hidden;
          margin-left: 0;
          width: 0px;
          flex: none;
          transition:
            opacity 250ms ease-in-out 250ms,
            visibility 0.5s ease-in-out,
            margin-left 0.5s ease-in-out,
            width 0.5s ease-in-out,
            flex 0.5s ease-in-out;
        }
      }

      &-body {
        .sidebar-menu {
          width: var(--sidebar-menu-icon);

          &-info {
            opacity: 0;
            visibility: hidden;
            margin-left: 0;
            width: 0px;
            flex: unset;
            transition:
              opacity 250ms ease-in-out 250ms,
              visibility 0.5s ease-in-out,
              margin-left 0.5s ease-in-out,
              width 0.5s ease-in-out,
              flex 0.5s ease-in-out;
          }
        }
      }

      &-footer {
        &-container {
          width: unset;
        }

        &-profile {
          opacity: 0;
          visibility: hidden;
          margin-left: 0;
          width: 0px;
          flex: none;
          transition:
            opacity 150ms ease-in-out 10ms,
            visibility 0.5s ease-in-out,
            margin-left 0.5s ease-in-out,
            width 0.5s ease-in-out,
            flex 0.5s ease-in-out;
        }

        &-settings-toggle {
          opacity: 0;
          visibility: hidden;
          margin-left: 0;
          width: 0px;
          flex: none;
          transition:
            opacity 0.05s ease-in-out,
            visibility 0.5s ease-in-out,
            margin-left 0.5s ease-in-out,
            width 0.5s ease-in-out,
            flex 0.5s ease-in-out;
        }
      }
    }

    .sidebar-toggle-icon {
      rotate: 180deg;
    }
  }
}
