.p-checkbox {
    cursor: pointer;

    &:hover &-box {
        border-color: var(--primary-600);
    }

    &-input {
        accent-color: var(--primary-600);

        &:hover {
            border-color: var(--primary-600);
            accent-color: var(--primary-600);
        }
    }

    &-box {
        &[data-p-highlight='true'] {
            border-color: var(--primary-600);
            background-color: var(--primary-600);
        }
    }
}

input[type='checkbox'] {
    cursor: pointer;
    accent-color: var(--primary-600);

    &:checked {
        background-color: var(--primary-600);
        border-color: var(--primary-600);
    }

    &:focus-visible {
        outline: none;
    }
}